
---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const featuressstik = [
	
];
---

<div class="relative p-8">
    <div class="max-w-7xl mx-auto">

		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("featuressstik.subtitle")}</h2>
		 
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white"><a href="https://tiktokio.cam" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("hero.tiktokio")}</a> {t("featuressstik.titlepg")}</p>
		
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("featuressstik.title_mp3_down")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("featuressstik.tiktok_mp3_text1")} <a href="/tiktok-mp3" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("featuressstik.title_mp3_downloader")}</a> {t("featuressstik.tiktok_mp3_text2")}</p>

		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("featuressstik.title")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("featuressstik.description")} <a href="/" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("header.tvd")}</a> {t("featuressstik.descriptions")}</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("featuressstik.description1")}</p>
	
		
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("featuressstik.description_title")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("featuressstik.heading2_des1")} <a href="/" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("featuressstik.format_text_link")}</a> {t("featuressstik.heading2_des1_1")}</p>
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("featuressstik.heading2")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("featuressstik.heading2_des2")}</p>

     </div>
</div>



