
---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const ssstik_features = [
	
];
---

<div class="relative p-8">
    <div class="max-w-7xl mx-auto">

		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("ssstik_features.subtitle")}</h2>
		 
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white"><a href="https://tiktokio.cam/ssstiktok-tiktok-video-download" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("hero.tiktokio")}</a> {t("ssstik_features.titlepg")}</p>
		
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("ssstik_features.title_mp3_down")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("ssstik_features.tiktok_mp3_text1")} <a href="/tiktok-mp3" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("ssstik_features.title_mp3_downloader")}</a> {t("ssstik_features.tiktok_mp3_text2")}</p>

		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("ssstik_features.title")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("ssstik_features.description")} <a href="https://tiktokio.cam/ssstiktok-tiktok-video-download" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("header.tvd")}</a> {t("ssstik_features.descriptions")}</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("ssstik_features.description1")}</p>
	
		
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("ssstik_features.description_title")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("ssstik_features.heading2_des1")} <a href="https://tiktokio.cam/ssstiktok-tiktok-video-download" class="font-medium text-indigo-700 dark:text-indigo-700 hover:underline">{t("ssstik_features.format_text_link")}</a> {t("ssstik_features.heading2_des1_1")}</p>
		<h2 class="mt-6 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-2xl">{t("ssstik_features.heading2")}</h2>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-white">{t("ssstik_features.heading2_des2")}</p>

     </div>
</div>



