---
import LanguageSelector from "@components/languageselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import ThemeSelector from "@components/themeselector.astro";
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---


<footer class="pb-12 pt-28 dark:bg-stone-950">

<section class="pt-16 pb-7 ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 xl:gap-24 pb-14 border-b-2 border-gray-200">
        <div class="block w-full lg:max-w-full max-lg:mx-auto">
          <div class="flex flex-col gap-8 w-full lg:max-w-xs ">
            <a aria-current="page" class="flex items-center" href="/"> <img class="h-7 w-auto" src="/images/logo-tiktokio.webp" alt="Tiktokio logo"> <p class="sr-only">Tiktokio</p> </a>
            <p class="text-base font-normal text-gray-600 max-[470px]:text-center">
              TikTokio is Tiktok video downloader to online download tiktok videos without watermark easily.
            </p>
         </div>
        </div>
        <div
          class="w-full mx-auto flex flex-col min-[470px]:flex-row max-[470px]:items-center min-[470px]:justify-between gap-6 sm:gap-10 xl:gap-24">
          <div class="">
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="/"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Tiktok Video Downloader</a>
              </li>
              <li><a href="https://stiktokio.com/"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Download Video TikTok</a>
              </li>
              <li><a href="https://tiktokio.cam/tiktok-story-downloader"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Tiktok Story Downloader</a>
              </li>
              
            </ul>
          </div>

        <div class="">
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="/blog"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Blog</a>
              </li>
              <li><a href="https://tiktokio.cam/privacy"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Privacy Policy</a>
              </li>
              <li><a href="https://tiktokio.cam/terms-of-service"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Terms & Conditions</a>
              </li>
              
            </ul>
          </div>

          <div class="">
            <ul class="flex flex-col max-[470px]:items-center gap-6">
              <li><a href="/about"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">About</a>
              </li>
              <li><a href="/contact"
                  class="text-base font-normal max-lg:text-center text-gray-600 whitespace-nowrap transition-all duration-300 hover:text-indigo-600 focus-within:outline-0 focus-within:text-indigo-600">Contact US</a></li>
             
              </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col-reverse gap-5 md:flex-row items-center first-letter:items-center justify-between pt-7">
        <p class="font-normal text-sm text-gray-500">©<a href="https://tiktokio.cam/">Tiktokio</a>2024, All rights reserved.</p> <span class="text-sm tracking-wide text-gray-500 dark:text-white">We are not affiliated with TikTok, Douyin or Bytedance </span>
        <ul class="flex items-center gap-9">
          <li>
            <a href="https://iuu.ai/" class="font-medium text-white">iuu AI</a>
          </li>
          <li><a href="https://AIToolly.com/" title="Best AI Tools Directory" class="font-medium text-white">AIToolly</a>
          </li>
          <li><!-- Bidvertiser2097812 -->
          </li>
        </ul>

      </div>
    </div>
  </section>




</footer>

