
---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";

const { plan } = Astro.props;
---

<div class="rounded-md p-8 xl:p-10 ring-1 ring-gray-200 dark:bg-stone-950 dark:ring-gray-700">
	<div class="flex items-center justify-between gap-x-4">
		<h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-gray-900 dark:text-white">{plan.name}</h3>
	</div>
	
<div class="flex items-center justify-between gap-x-4">
		<script type="text/javascript">
	atOptions = {
		'key' : '34573b90a095e95e849f42bc513a1ec8',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//lockupaccede.com/34573b90a095e95e849f42bc513a1ec8/invoke.js"></script>

	</div>


</div>
